@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
    font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 60px;
}

.product-picture {
    float: left;
    width: 33%;
    padding-right: 25px;
}